.messages .yaml2php-snippet {
  padding: 0 20px;
  margin: 20px 0;
  background-color: #f6f6f6;
}

.messages .yaml2php-status {
  color: #52a752;
}

.messages .yaml2php-warning {
  color: #ff8000;
}

.messages .yaml2php-error {
  color: #ff6363;
}
